.container-fluid{
    .my-container{
        max-width: 120rem;
        margin: 0 auto;
        padding: 1rem;
    }

    header{
        background-color: rgb(136, 54, 136);
    }

    main{
        .monitor article{
            background-color: orange;
            margin: 0 1rem;
            border-radius: 8px;
        }

        li.selected{
            text-decoration: underline rgb(136, 54, 136) 3px;
        }
    }
}

i.profile{
    background-color: white;
    padding: .7rem;
    margin: .5rem;
    filter: invert(100%);
    border-radius: 50%;
}

ul {
    list-style-type: none;
}
